<h1>My to-do list</h1>
    <ul>
        <li class="color1">
            <input type="checkbox">
            <a href="show.html">Homework</a>4 Pomodoros</li>
        <li class="color2">
            <input type="checkbox">
            <a href="show.html">Clean house</a>1 Pomodoro</li>
        <li class="color3">
            <input type="checkbox">
           <a href="show.html">Watch Tv</a>2 Pomodoros</li>
    </ul>
    <a id="Add-todo" href="new.html">add to-do</a>